<%- include('../partials/header') %>

<h1><%= package.title %></h1>
<p><%= package.description %></p>
<p>Price: ₹<%= package.price %></p>

<a href="/api/booking">Book Now</a>

<%- include('../partials/footer') %>